@import url('https://fonts.cdnfonts.com/css/iglesia');
.certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    padding: 30px;
    background-image: url('./img/Modelo-de-diploma.jpg');
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #047C4A;
    font-family: 'Calisto MT', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
    margin-top:5rem;
}

.logo {
    width: 120px;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.DiplomaC {
    font-family: 'Iglesia', sans-serif;
    font-size: 6.5rem;
    /* color: rgba(4, 124, 74, 0.8); */
    color: #00924C;
}

h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.2em;
    font-family: 'Times New Roman', Times, serif;
    /* color: #020f0a; */
    color: #02213C;
}

.certificate-details p {
    font-size: 1em;
    width: 35rem;
    text-align: center;
    line-height: 2em;
    margin: 10px 0;
    color: #02213C;
}

.signature-section {
    position: absolute;
    bottom: 55px;
    right: 112px;
    text-align: center;
    color: #02213C;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}


.line1{
   position: relative;
   bottom: 4.5rem;
   padding: 0.4rem;
}


.line2{
    position: relative;
    bottom: 1rem;
    padding: 0.4rem;
 }


#nometamanho {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #020f0a;
}

#generate-pdf-button {
    margin-top: 100px;
    padding: 10px;
    background-color: #047C4A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#generate-pdf-button:hover {
    background: #022919;
}

@media (max-width: 768px) {
    .certificate {
        padding: 10px;
        max-width: 100%;
    }
    .diploma {
        font-size: 6rem;
    }
    .certificate-details p {
        font-size: 1em;
    }
    button {
        width: 100%;
        font-size: 1em;
    }
}