@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap');




.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 10rem;
    overflow: hidden; 
}

.nav-container {
    display: flex;
    flex-direction: row; 
    width: 300px;
    height: 200px;
    position: relative;
    /* top: 150px; */
    align-items: center;
    justify-content: space-around; 
    background-color: #fff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #555; 
    transition: transform 0.2s; 
}

.nav-item:hover {
    transform: scale(1.12); 
}

.nav-icon {
    font-size: 80px;
    color: #047C4A;
    margin-bottom: 5px;
}




span{
    color: #555;
    font-weight: 500;
}
